{% extends "::base.html.twig" %}

{% block title %}BasketballBundle:Main:addGame{% endblock %}

{% block body %}
<h1>Welcome to the Main:addGame page</h1>
    <h2>Wybierz typ gry:</h2>
    <form id="gameTypeSelect" method="post" action="{{ asset("addGame") }}">
        <label><input type="radio" name="gameType"  value="2">2 vs. 2 |</label>
        <label><input type="radio" name="gameType" value="3">3 vs. 3 |</label>
        <label><input type="radio" name="gameType" value="4">4 vs. 4 |</label>
        <label><input type="radio" name="gameType" checked value="5">5 vs. 5</label>
    </form>
    <hr>
    {#{% if form is defined %}#}
        {#{{ form_start(form) }}#}
        {#{{ form_widget(form) }}#}
        {#{{ form_end(form) }}#}
    {#{% endif %}#}
    {#<hr>#}
    {#{% if form2 is defined %}#}
        {#{{ form_start(form2) }}#}
        {#hej#}
        {#{{ form_widget(form2) }}#}
        {#ej#}
        {#{{ form_end(form2) }}#}
    {#{% endif %}#}
    <form method="post" action="{{ asset('addScore') }}" class="teamSelectForm">
        <div style="float: left; margin-right: 20%" >
            Drużyna 1<br>
            <div class="player1">
                <label>Zawodnik nr 1.</label>
                <select name="team1[]">
                    {% for player in allPlayers %}
                        <option value={{ player.id }}>{{ player.name }}</option>
                    {% endfor %}
                </select><br>
            </div>
            <div class="player2">
                <label>Zawodnik nr 2.</label>
                <select name="team1[]">
                    {% for player in allPlayers %}
                        <option value={{ player.id }}>{{ player.name }}</option>
                    {% endfor %}
                </select><br>
            </div>
            <div class="player3">
                <label>Zawodnik nr 3.</label>
                <select name="team1[]">
                    {% for player in allPlayers %}
                        <option value={{ player.id }}>{{ player.name }}</option>
                    {% endfor %}
                </select><br>
            </div>
            <div class="player4">
                <label>Zawodnik nr 4.</label>
                <select name="team1[]">
                    {% for player in allPlayers %}
                        <option value={{ player.id }}>{{ player.name }}</option>
                    {% endfor %}
                </select><br>
            </div>
            <div class="player5">
                <label>Zawodnik nr 5.</label>
                <select name="team1[]">
                    {% for player in allPlayers %}
                        <option value={{ player.id }}>{{ player.name }}</option>
                    {% endfor %}
                </select><br>
            </div>
            <br>
        </div>
        <div style="float: left" class="team">
            Drużyna 2<br>
            <div class="player1">
                <label>Zawodnik nr 1.</label>
                <select name="team2[]">
                    {% for player in allPlayers %}
                        <option value={{ player.id }}>{{ player.name }}</option>
                    {% endfor %}
                </select><br>
            </div>
            <div class="player2">
                <label>Zawodnik nr 2.</label>
                <select name="team2[]">
                    {% for player in allPlayers %}
                        <option value={{ player.id }}>{{ player.name }}</option>
                    {% endfor %}
                </select><br>
            </div>
            <div class="player3">
                <label>Zawodnik nr 3.</label>
                <select name="team2[]">
                    {% for player in allPlayers %}
                        <option value={{ player.id }}>{{ player.name }}</option>
                    {% endfor %}
                </select><br>
            </div>
            <div class="player4">
                <label>Zawodnik nr 4.</label>
                <select name="team2[]">
                    {% for player in allPlayers %}
                        <option value={{ player.id }}>{{ player.name }}</option>
                    {% endfor %}
                </select><br>
            </div>
            <div class="player5">
                <label>Zawodnik nr 5.</label>
                <select name="team2[]">
                    {% for player in allPlayers %}
                        <option value={{ player.id }}>{{ player.name }}</option>
                    {% endfor %}
                </select><br>
            </div>
        </div>
        <div style="clear: both"></div>
        <input type="submit" value="Dodaj" style="margin-left: 250px">
    </form>
{% endblock %}
