{% extends "::base.html.twig" %}

{% block title %}BasketballBundle:Main:selectDay{% endblock %}

{% block body %}
    {{ calendar.showCalendar }}
    <h1>Welcome to the Main:selectDay page</h1>
    <h3>Wybierz dzień spotkania:</h3>

    <form action="{{ asset('selectDay') }}" method="post">
        <select name="selectMonth" onchange="form.submit()" id="monthSelection"
                month="{{ calendar.getMonth }}">
            <option value="01" id="jan">Styczeń</option>
            <option value="02" id="feb">Luty</option>
            <option value="03" id="mar">Marzec</option>
            <option value="04" id="apr">Kwiecień</option>
            <option value="05" id="may">Maj</option>
            <option value="06" id="jun">Czerwiec</option>
            <option value="07" id="jul">Lipiec</option>
            <option value="08" id="aug">Sierpień</option>
            <option value="09" id="sep">Wrzesień</option>
            <option value="10" id="oct">Październik</option>
            <option value="11" id="nov">Listopad</option>
            <option value="12" id="dec">Grudzień</option>
        </select>
        <select name="selectYear" onchange="form.submit()" id="yearSelection"
                year="{{ calendar.getYear }}">
            <option value="2017" id="2017">2017</option>
            <option value="2018" id="2018">2018</option>
        </select>
    </form>


    <table border="solid" cellpadding="10">
        <tr>
            <th class="days">Pn</th>
            <th class="days">Wt</th>
            <th class="days">Śr</th>
            <th class="days">Cz</th>
            <th class="days">Pt</th>
            <th class="days">Sb</th>
            <th class="days">Nd</th>
        </tr>
        {% set day = 1 %}
        {% for i in 1..calendar.getNumberOfWeeksInMonth %}
            <tr>
                {% for j in 1..7 %}
                    {% if (j < calendar.getFirstDayInMonth and i == 1)  or (j > calendar.getDaysInMonth and i == 1) %}
                        <td></td>
                    {% elseif day < calendar.getDaysInMonth + 1 %}
                        {% if i % 2 == 0 %}
                            {% if j == 2 or j == 4 %}
                                <td style="background-color: lightgray">
                                    <a id="availableDay" style="text-decoration: underline"
                                       href="{{ path('addGame', {'year': calendar.getYear, 'month': calendar.getMonth, 'day': day, 'noDay': j}) }}">
                                        {{ day }}
                                    </a>
                                </td>
                            {% else %}
                                <td style="background-color: lightgray">
                                    <a id="availableDay" style="text-decoration: underline"
                                       href="{{ path('addGame', {'year': calendar.getYear, 'month': calendar.getMonth, 'day': day, 'noDay': j}) }}">
                                        {{ day }}
                                    </a>
                                </td>
                            {% endif %}
                            {% set day = day + 1 %}
                        {% else %}
                            {% if j == 2 or j == 4 %}
                                <td style="background-color: lightblue">
                                    <a id="availableDay" style="text-decoration: underline"
                                       href="{{ path('addGame', {'year': calendar.getYear, 'month': calendar.getMonth, 'day': day, 'noDay': j}) }}">
                                        {{ day }}
                                    </a>
                                </td>
                            {% else %}
                                <td  style="background-color: lightblue">
                                    <a id="availableDay" style="text-decoration: underline"
                                       href="{{ path('addGame', {'year': calendar.getYear, 'month': calendar.getMonth, 'day': day, 'noDay': j}) }}">
                                        {{ day }}
                                    </a>
                                </td>
                            {% endif %}
                            {% set day = day + 1 %}
                        {% endif %}
                    {% else %}
                        <td></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}